@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#lean_overlay {
		position: fixed;
	    z-index: 10000;
	    top: 0px;
	    left: 0px;
	    height:10000px;
	    width:1300px;
	    background: #000;
	    display: none;
		overflow: visible;
		}	
	
}